<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password</title>
</head>
<body>
    <p>Hello </p>
    <p>click on the below link to reset your password</p>
    <a href="{{link}}">Reset Password</a>
</body>
</html>